@use "@vrembem/core/tokens";
@use "@vrembem/core/palette";

@include tokens.set("layout", (
  "width": 1000px,
  "sidebar-width": 280px,
  "aside-width": 180px,
  "content-max-width": 680px,
  "header-height": 56px
));

@include tokens.set("layout", (
  "padding-left": max(1rem, calc(((100% + 2rem) - tokens.get("layout", "width")) / 2)),
));

@include tokens.set("layout", (
  "shadow-left": calc(tokens.get("layout", "padding-left") + (tokens.get("layout", "sidebar-width") - 2rem)),
));

.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: auto;
  max-width: tokens.get("layout", "width");
  width: 100%;
  padding: 0 1rem;
}

.layout__main {
  display: grid;
  grid-template-columns: tokens.get("layout", "sidebar-width") 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "sidebar content aside"
    "sidebar footer footer";
}

.layout__header,
.layout__aside,
.layout__footer {
  padding: 1rem;
}

.layout__header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.layout__sidebar {
  grid-area: sidebar;
  box-sizing: content-box;
  position: sticky;
  top: tokens.get("layout", "header-height");
  width: tokens.get("layout", "sidebar-width");
  height: calc(100vh - tokens.get("layout", "header-height"));

  .container {
    padding: 1rem;
    overflow: auto;
    height: calc(100vh - tokens.get("layout", "header-height"));
  }

  &::after {
    box-sizing: content-box;
    background-color: pink;
    content: "";
    z-index: -2;
    position: fixed;
    inset: 0 auto 0 0;
    width: tokens.get("layout", "sidebar-width");
    padding-left: tokens.get("layout", "padding-left");
    padding-top: tokens.get("layout", "header-height");
  }

  &::before {
    box-sizing: content-box;
    pointer-events: none;
    content: "";
    z-index: -1;
    position: fixed;
    z-index: 2;
    inset: 0 auto 0 tokens.get("layout", "shadow-left");
    width: 2rem;
    height: 100%;
    background: linear-gradient(268deg, rgb(0 0 0 / 10%) 0, rgb(0 0 0 / 0%) 2rem);
  }
}

.layout__aside {
  grid-area: aside;
  position: sticky;
  top: tokens.get("layout", "header-height");
  width: tokens.get("layout", "aside-width");
  height: calc(100vh - tokens.get("layout", "header-height"));
  overflow: auto;
}

.layout__content {
  grid-area: content;
  padding: 0 1em;

  .container {
    max-width: tokens.get("layout", "content-max-width");
    width: 100%;
    margin: auto;
    padding: 1em;
  }
}

.layout__footer {
  grid-area: footer;
}

/**
 * Theme setting
 */

.layout__header {
  background-color: oklch(60% 0.25 250 / 50%);
}

.layout__sidebar {
  background-color: palette.get("secondary", $a: 10%);
}

.layout__aside {
  background-color: palette.get("secondary", $a: 10%);
}

.layout__content {
  background-color: palette.get("primary", $a: 10%);

  .container {
    background-color: palette.get("primary", $a: 10%);
  }
}

.layout__footer {
  background-color: oklch(68% 0.2 324 / 0.5);
}
