@use "@vrembem/core";
@use "@vrembem/core/tokens";
@use "@vrembem/core/palette";

@include tokens.set("layout", (
  "width": 1200px,
  "header-height": 3.5em,
  "sidebar-width": 18em,
));

.header {
  z-index: 3;
  position: fixed;
  inset: 0 0 auto 0; 
}

.header__container {
  display: flex;
  justify-content: space-between;
  max-width: tokens.get("layout", "width");
  margin: auto;
  padding: 1rem;
}

.footer {
  padding: 1rem;
}

.drawer__dialog {
  background: white;

  @include core.media-min("lg") {
    background: transparent;
  }
}

.drawer__container {
  padding: 1rem;
}

.layout {
  max-width: tokens.get("layout", "width");
  margin: auto;
  padding-top: tokens.get("layout", "header-height");
  display: flex;
  align-items: flex-start;
}

.layout__main {
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
  min-width: 0;
  min-height: calc(100vh - tokens.get("layout", "header-height"));
}

// We style the breakpoint specifically to handle the indeterminate state
@include core.media-min("lg") {
  .layout__aside {
    position: sticky;
    inset: unset;
    top: tokens.get("layout", "header-height");
    z-index: 1;
    width: tokens.get("layout", "sidebar-width");
    height: calc(100vh - tokens.get("layout", "header-height"));
    overflow: auto;
    flex: 0 0 auto;
  }

  // Styles for infinite background
  .layout__aside::before {
    box-sizing: content-box;
    content: "";
    z-index: -2;
    position: fixed;
    inset: 0 auto 0 0;
    width: tokens.get("layout", "sidebar-width");
    padding-left: max(0px, calc((100% - tokens.get("layout", "width")) / 2));
  }

  // Styles for fold shadow
  .layout__aside::after {
    box-sizing: content-box;
    pointer-events: none;
    content: "";
    z-index: -1;
    position: fixed;
    inset: 0 auto 0 calc(max(0px, calc((100% - tokens.get("layout", "width")) / 2)) + (tokens.get("layout", "sidebar-width") - 2rem));
    width: 2rem;
    height: 100%;
    background: linear-gradient(268deg, rgb(0 0 0 / 10%) 0, rgb(0 0 0 / 0%) 2rem);
  }
}


/**
 * Background colors for visibility
 */

.header,
.footer {
  background-color: oklch(60% 0.25 250 / 20%);
}

@include core.media-min("lg") {
  .layout__aside {
    &::before {
      background-color: oklch(68% 0.2 324 / 20%);
    }
  }
}
