@use "@vrembem/core";
@use "@vrembem/core/tokens";
@use "@vrembem/core/palette";

.main {
  display: flex;
  flex-direction: column;
}

.main__content {
  padding: 1rem;
  flex: 1 1 auto;
}

.main__footer {
  flex: 0 0 auto;
}

/**
 * Background colors for visibility
 */

.main {
  background-color: palette.get("primary", $a: 10%);
}
