<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning Vue</title>
  <link rel="icon" type="image/png" sizes="32x32" href="https://sebnitu.com//dist/favicon.png">
  <link rel="stylesheet" href="https://unpkg.com/vrembem/dist/styles.min.css">
</head>
<body>

  <section id="app" rol="main">
    <header class="section background-shade">
      <div class="container spacing">
        <h1 class="text-size-lg">Learning Vue</h1>
        <p>A place for me to learn and play with Vue.</p>
        <div>
          <ol class="breadcrumb">
            <li class="breadcrumb__item">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
              <a class="breadcrumb__link" href="https://github.com/sebnitu/sandbox">
                <span>sandbox</span>
              </a>
            </li>
            <li class="breadcrumb__item">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-branch"><line x1="6" y1="3" x2="6" y2="15"></line><circle cx="18" cy="6" r="3"></circle><circle cx="6" cy="18" r="3"></circle><path d="M18 9a9 9 0 0 1-9 9"></path></svg>
              <a class="breadcrumb__link" href="https://github.com/sebnitu/sandbox/tree/learning-vue">
                <span>learning-vue</span>
              </a>
            </li>
          </ol>
        </div>
      </div>
    </header>

    <div class="section">
      <div class="container spacing-xl">
        <div>
          <div class="grid">
            <div class="grid__item span-8">
              <product v-bind:premium="premium"></product>
            </div>
            <div class="grid__item span-1 border-right"></div>
            <div class="grid__item span-3">
              <cart></cart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://unpkg.com/vrembem/dist/scripts.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script>

    Vue.component('notice', {
      props: {
        message: String,
        type: String
      },
      computed: {
        noticeType() {
          return `notice_type_${this.type}`;
        }
      },
      template: `
      <div class="notice" v-bind:class="noticeType">
        {{ message }}
      </div>
      `
    });

    Vue.component('cart', {
      data() {
        return {
          cart: 0
        }
      },
      methods: {
        removeFromCart() {
          if (this.cart > 0) {
            this.variants[this.selectedVariant].inventory += 1;
            this.cart -= 1;
          }
        },
        clearCart() {
          this.variants[this.selectedVariant].inventory += this.cart;
          this.cart = 0;
        }
      },
      template: `
      <div class="padding border radius spacing">
        <p>Cart: {{ cart }}</p>
        <hr class="sep" />
        <div>
          <div class="level flex-justify-between">
            <button class="link" v-on:click="removeFromCart">
              Remove item
            </button>
            <button class="link" v-on:click="clearCart">
              Clear cart
            </button>
          </div>
        </div>
      </div>
      `
    });

    Vue.component('product-details', {
      props: {
        details: {
          type: Array,
          required: true
        }
      },
      template: `
      <ul class="list">
        <li v-for="detail in details">{{ detail }}</li>
      </ul>
      `
    });

    Vue.component('product', {
      props: {
        premium: {
          type: Boolean,
          required: true
        }
      },
      data() {
        return {
          product: 'The Legend of Zelda',
          selectedVariant: 0,
          onSaleClass: 'notice_type_success',
          box: {
            styleObject: {
              width: '32px',
              height: '32px'
            }
          },
          controllers: [
            {
              styleObject: {
                backgroundColor: 'black',
              }
            },
            {
              styleObject: {
                backgroundColor: 'gray'
              }
            },
            {
              styleObject: {
                backgroundColor: 'gold'
              }
            }
          ],
          variants: [
            {
              id: 1001,
              title: 'Ocarina of Time',
              img: './img/zelda-oot.jpg',
              inventory: 100,
              onSale: false,
              details: [
                'Only for Nintendo 64',
                'Rumble pack included',
                'Navi will be your companion'
              ]
            },
            {
              id: 1002,
              title: 'Majora\'s Mask',
              img: './img/zelda-mm.jpg',
              inventory: 200,
              onSale: true,
              details: [
                'Only for Nintendo 64',
                'Expansion pack required',
                'Search for your companion, Navi'
              ]
            }
          ],
          addNumber: 1,
          cart: 0
        }
      },
      computed: {
        title() {
          return this.product + ": " + this.variants[this.selectedVariant].title;
        },
        img() {
          return this.variants[this.selectedVariant].img;
        },
        inventory() {
          return this.variants[this.selectedVariant].inventory;
        },
        details() {
          return this.variants[this.selectedVariant].details;
        },
        onSale() {
          return this.variants[this.selectedVariant].onSale;
        },
        onSaleText() {
          let result;
          if (this.onSale) {
            result = `😄 ${this.title} is on sale!`;
          } else {
            result = `😒 ${this.title} is not on sale.`;
          }
          return result;
        },
        shipping() {
          return (this.premium) ? 'Free!' : '$2.99';
        }
      },
      methods: {
        addToCart() {
          const result = this.variants[this.selectedVariant].inventory - parseInt(this.addNumber);
          if (result >= 0) {
            this.variants[this.selectedVariant].inventory = result;
            this.cart += parseInt(this.addNumber);
          }
        },
        changeVariant(event) {
          this.selectedVariant = event.target.value;
        },
        toggleSale() {
          this.variants[this.selectedVariant].onSale =
            (this.variants[this.selectedVariant].onSale) ? false : true;
        }
      },
      template: `
      <div class="grid">
        <div class="grid__item span-12">
          <div class="notice" v-bind:class="[onSale ? onSaleClass : '']">
            <div class="notice__body">
              <p>{{ onSaleText }}</p>
            </div>
            <button
              class="button"
              v-on:click="toggleSale">
              <span v-if="onSale">Off</span>
              <span v-else>On</span>
            </button>
          </div>
        </div>
        <div class="grid__item span-4 spacing">
          <img class="display-block radius" v-bind:src="img" alt="" />
          <p>
            <a class="link" v-bind:href="img">Download cover art</a>
          </p>
        </div>
        <div class="grid__item span-8 spacing">
          <label>
            <div class="text-bold margin-bottom-sm">Variant</div>
            <select class="input input_type_select" name="variant" v-on:change="changeVariant($event)">
              <option 
                v-for="(variant, index) in variants" 
                v-bind:value="index">
                {{ variant.title }}
              </option>
            </select>
          </label>

          <h2>{{ title }}</h2>

          <product-details :details="details"></product-details>

          <div class="spacing-sm">
            <label class="text-bold">Controller Options</label>
            <div>
              <div class="level level_gap_sm">
                <div 
                  v-for="controller in controllers"
                  v-bind:style="[box.styleObject, controller.styleObject]"
                  v-on:click=""></div>
              </div>
            </div>
          </div>

          <p> Shipping: {{ shipping }}</p>

          <hr class="sep" />
          
          <p v-bind:class="{ 
            'color-success': inventory >= 10,
            'color-caution': inventory > 0 && inventory < 10,
            'color-danger': !inventory,
          }">
            <span v-if="inventory >= 10">
              {{ inventory }} In stock
            </span>
            <span v-else-if="inventory > 0 && inventory < 10">
              Only {{ inventory }} left stock
            </span>
            <span v-else>
              Out of stock
            </span>
          </p>

          <div>
            <div class="level">
              <div>
                <input class="input" type="number" value="1" v-model="addNumber" style="width: 80px;">
              </div>
              <button 
                class="button button_color_primary"
                v-on:click="addToCart" 
                v-bind:disabled="inventory < 1">
                Add to Cart
              </button>
            </div>
          </div>            

        </div>
      </div>
      `
    });

    const app = new Vue({
      el: '#app',
      data: {
        premium: true
      }
    });
  </script>
</body>
</html>
