/**
 * Multi Select
 */

.multi-select .level {
  list-style: none;
}

.multi-select__button {
  justify-content: flex-start;
  width: 100%;
}

.multi-select__button-text {
  flex-grow: 1;
}

/**
 * Filter
 */

.filter__list {
  list-style: none;
}

.filter__option {
  display: flex;
  align-items: center;
  padding: 10px;
}

.filter__option-value {
  flex-grow: 1;
}

/**
 * Utility
 */

.is-visible {
  display: block;
}

.is-hidden {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
