/**
 * Trigger button
 */

.trigger {
  width: 200px;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.05);
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.trigger:focus {
  outline-offset: 3px;
}

.trigger .value {
  display: inline-block;
  max-width: calc(100% - 30px);
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

/** Caret icon */
.trigger span.fas {
  margin-left: 10px;
  float: right;
  font-size: 18px;
  vertical-align: middle;
}

/** Flip the caret when the popup is expanded */
.trigger[aria-expanded="true"] span.fas {
  transform: rotate(180deg);
}

/**
 * Popup
 */

.popup {
  position: absolute;
  z-index: 1;
  top: 40;
  left: 0;
  display: none;
  max-width: 100%;
  margin-top: -1px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: white;
}

.trigger[aria-expanded="true"] + .popup {
  display: block;
}

/** Text field at the top */
.popup .text-field {
  margin-bottom: 5px;
  padding: 5px;
}

.popup input[type="text"] {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
  font-size: 14px;
}

/** List of results */
.popup .results {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popup .results li {
  position: relative;
  width: 100%;
  border: 0;
  background: none;
  text-align: left;
  cursor: pointer;
}

.popup .results li:focus-within,
.popup .results li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.popup .results li label {
  display: block;
  width: 100%;
  padding: 7px;
  cursor: pointer;
}

.popup .results li input {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/**
 * Selected options tags
 */

.selected-tags ul {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}

.selected-tags ul li {
  display: inline-block;
  margin-right: 10px;
}

.selected-tags ul li .tag {
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 14px;
  cursor: pointer;
}

.selected-tags ul li .tag:hover,
.selected-tags ul li .tag:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(200, 0, 0, 1);
  color: darkred;
}

.selected-tags ul li .tag:hover .text,
.selected-tags ul li .tag:focus .text {
  text-decoration: underline;
}

.selected-tags ul li .tag .fas {
  margin-left: 5px;
}
