.select-dropdown {
  position: absolute;
  z-index: 20;
  display: none;
  width: 100%;
  max-height: 200px;
  margin-top: 4px;
  overflow-y: auto;
  border-radius: 4px;
  background: #fff;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    0 2px 6px rgba(0, 0, 0, 0.2);
}

.select-dropdown.is-opened {
  display: block;
}

.select-dropdown__option {
  padding: 0.5em 1.5em;
  cursor: pointer;
}

.select-dropdown__option:hover,
.select-dropdown__option:focus {
  background-color: #efefef;
}

.select-dropdown__option.is-selected {
  background-color: teal;
  color: #fff;
}
