.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--avatar-color, var(--vb-border-color));
  border-radius: 4rem;
  outline: 1px solid var(--vb-border-color-dark);
  outline-offset: 3px;
  color: var(--vb-background);
}
