$padding: 3em 1.5em;
$max-width: 67rem * 0.5;

.section_split {
  display: flex;
  flex-direction: row;
  padding: 0;
  background-color: hotpink;

  .section__column {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;

    > * {
      flex-basis: 100%;
    }
  }

  .section__container {
    max-width: $max-width;
  }

  .section__column:first-child,
  .section__column:last-child {
    position: relative;
    flex-grow: 1;
  }

  .section__column:first-child .section__container {
    margin-right: 0;
  }

  .section__column:last-child .section__container {
    margin-left: 0;
  }
}
