$padding: 3em 1.5em;
$max-width: 67rem * 0.5;

.section_split {
  display: flex;
  flex-direction: row;
  padding: 0;

  .section__item-first,
  .section__item-last {
    position: relative;
    flex-grow: 1;
    padding: $padding;
  }

  .section__item-first {
    background-color: pink;

    .section__container {
      margin-right: 0;
    }
  }

  .section__item-last {
    background-color: aquamarine;

    .section__container {
      margin-left: 0;
    }
  }

  .section__container {
    max-width: $max-width;
  }
}
