.sortable {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;

  // Disable pointer events for all children when dragging event is active.
  &.event-dragging .sortable__item * {
    pointer-events: none;
  }
}

.sortable__item {
  position: relative;
  z-index: 2;
  border-radius: 0.25rem;
  outline-offset: 2px;

  &.is-dragging,
  &.is-touching {
    z-index: 1;
    outline-width: 3px;
    outline-style: dashed;
  }

  &.is-dragging {
    outline-color: blue;

    .sortable__handle {
      background-color: blue;
      color: white;
    }
  }

  &.is-touching {
    outline-color: green;

    .sortable__handle {
      background-color: green;
      color: white;
    }
  }
}

.sortable__content {
  padding: 1rem calc(1rem + 3rem) 1rem 1rem;
  border: 1px solid var(--vb-border-color);
  background-color: var(--vb-background);
  border-radius: 0.25rem;
  transition: background-color 0.25s ease;

  .is-dragging > &,
  .is-touching > & {
    background-color: var(--vb-background-darker);
    opacity: 0.5;
  }

  .is-dragging > & {
    > * {
      // Transition retains the opacity on the "ghost" item (opacity: 1) while 
      // the inline item styles are set to the final stage (opacity: 0).
      transition: opacity 0.1s linear;
      opacity: 0;
    }
  }

  .is-clicked > & {
    background-color: var(--vb-background-dark);
  }
}

.sortable__handle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0 0 0 auto;
  width: 3rem;
  background-color: white;
  border: 1px solid var(--vb-border-color);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
