:root {
  --crosshair-size: 15px;
  --crosshair-line-length: 25px;
  --crosshair-line-thickness: 1px;
  --crosshair-color: magenta;
  --crosshair-x: -9999px;
  --crosshair-y: -9999px;
  --crosshair-z: 9999;
}

.crosshair {
  position: fixed;
  z-index: var(--crosshair-z);
  top: var(--crosshair-y);
  left: var(--crosshair-x);
  width: var(--crosshair-size);
  height: var(--crosshair-size);
  background-color: hsl(from var(--crosshair-color) h s l / 20%);
  border-radius: var(--crosshair-size);
  transform: translate(calc(var(--crosshair-size) * -0.5), calc(var(--crosshair-size) * -0.5));
}

.crosshair::before,
.crosshair::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--crosshair-color);
}

.crosshair::before {
  width: var(--crosshair-line-thickness);
  height: var(--crosshair-line-length);
  top: calc(calc(var(--crosshair-size) - var(--crosshair-line-length)) * 0.5);
  left: calc(calc(var(--crosshair-size) - var(--crosshair-line-thickness)) * 0.5);
}

.crosshair::after {
  width: var(--crosshair-line-length);
  height: var(--crosshair-line-thickness);
  top: calc(calc(var(--crosshair-size) - var(--crosshair-line-thickness)) * 0.5);
  left: calc(calc(var(--crosshair-size) - var(--crosshair-line-length)) * 0.5);
}
