/* stylelint-disable */

:root {
  --overlay-transition-duration: 0.4s;
}

#overlay-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: 1000;
}

#overlay-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#overlay-loading {
  display: none;
}

#overlay-close-button {
  position: absolute;
  top: 1em;
  right: 1em;
  transform: translateY(-100%);
  opacity: 0;
  z-index: 20;
}

#overlay-wrapper.is-opening #overlay-close-button,
#overlay-wrapper.is-closing #overlay-close-button {
  transition-property: opacity, transform;
  transition-duration: var(--overlay-transition-duration);
  transition-timing-function: ease;
}

#overlay-wrapper.is-opening #overlay-close-button,
#overlay-wrapper.is-opened #overlay-close-button {
  transform: translateY(0);
  opacity: 1;
}

@media (min-width: 900px) {
  #overlay-close-button {
    left: 1em;
    right: auto;
  }
}

#overlay-iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 640px;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: none;
  box-shadow: 0 0 32px 0 rgba(0,0,0, 0.32);
  transform: translateX(10em);
  opacity: 0;
  z-index: 10;
}

/**
 * Transitions
 */

#overlay-wrapper.is-closed {
  visibility: hidden;
}

#overlay-wrapper.is-opening,
#overlay-wrapper.is-opened,
#overlay-wrapper.is-closing {
  visibility: visible;
  width: 100%;
  height: 100%;
}

#overlay-wrapper.is-opening,
#overlay-wrapper.is-closing {
  transition: background-color var(--overlay-transition-duration) ease;
}

#overlay-wrapper.is-opening #overlay-iframe,
#overlay-wrapper.is-closing #overlay-iframe {
  transition-property: opacity, transform;
  transition-duration: var(--overlay-transition-duration);
  transition-timing-function: ease;
}

#overlay-wrapper.is-opening,
#overlay-wrapper.is-opened {
  background: rgba(0,0,0, 0.6);
}

#overlay-wrapper.is-opening #overlay-iframe,
#overlay-wrapper.is-opened #overlay-iframe {
  transform: translateX(0);
  opacity: 1;
}

#overlay-wrapper #overlay-iframe,
#overlay-wrapper.is-closing #overlay-iframe {
  transform: translateX(100%);
}
